<!-- Nav -->
<nav id="nav">
  <ul>
    {%- assign sections = site.sections | sort: 'order' -%}
    {%- for section in sections -%}
      {%- assign _title = section.title | default: section.layout | default: 'Untitled' -%}
      {%- assign _slug = _title | slugify -%}
      {%- assign _icon = section.icon | default: 'fa-file' -%}
      {%- assign _class = 
            section.icon-style == 'regular'  ? 'icon-r' : 
            section.icon-style == 'brands'   ? 'icon-b' : 
                                               'icon' -%}
      <li>
        <a href="#{{ _slug }}" id="{{ _slug }}-link" class="scrolly">
          <span class="{{ _class }} {{ _icon }}">{{ _title }}</span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
