<ul class="icons">
  {% if site.social.instagram %}
    <li><a href="{{ site.social.instagram }}" class="icon-b fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
  {% endif %}
  {% if site.social.linkedin %}
    <li><a href="{{ site.social.linkedin }}" class="icon-b fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
  {% endif %}
  {% if site.social.github %}
    <li><a href="{{ site.social.github }}" class="icon-b fa-github" target="_blank"><span class="label">GitHub</span></a></li>
  {% endif %}
  {% if site.email %}
    <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {% endif %}
</ul>
