---
layout: default
---

<article class="post">
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d/%m/%Y" }}</time>
      {%- if page.author or site.author -%} • <span class="author">{{ page.author | default: site.author | escape }}</span>{%- endif -%}
    </p>
    {%- if page.subtitle -%}
      <p class="subtitle">{{ page.subtitle | escape }}</p>
    {%- endif -%}
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    {% include social_icons.html %}
  </footer>
</article>
